/node_modules
/storage/*.key
/storage/app/public/
/storagelogs/
/public/storage/
/public/robots.txt
/vendor/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
/bootstrap/docker/
.idea
.htaccess